body{
    background-color: #90dbf8;
}
img {
    margin-bottom: 100px;
}
.box {
    display: flex;
    align-items:center;
}
img.grande{
    width: 100%;
    height: 55vw;
}
img.mediana{
    width: 90%;
    height: 25vw;
    line-height:0;
}
.nav-enlace{
    background: salmon;
    color: #fff;
    padding: 10px 30px;
}